
#particles-js {
  height: 100%;
  background: #bc4b00;
}

body, html {
  font-family: 'Helvetica Neue', 'Source Sans Pro',  sans-serif;
  font-weight: 300;
  background-color: #111111;
  color: #dddddd;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

canvas {
  display: block;
}

button {
  background-color: #111111;
  color: #dddddd;
  font-family: 'Helvetica Neue', 'Source Sans Pro',  sans-serif;
  font-size: 18px;
  padding: 8px 20px 8px 20px;
  text-align: center;
  border: #dddddd 4px solid;
  width: 180px;
  text-align: center;
  cursor: pointer;
  transition-delay: 1s;
  -webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
  text-transform: uppercase;
  letter-spacing: 3px;
}

button:hover {
  background-color: #dddddd;
  color: #111111;
  box-shadow: inset 100px 0 0 0 #e0e0e0;
}

a {
  text-decoration: none;
}

#text {
  z-index: 1;
}

#three:link {
  color: #dddddd;
  text-decoration: underline;
}

#three {
  color: #dddddd;
}

#three:link {
  color: #dddddd;
}

#three:hover {
  color: #dddddd;
  text-decoration: none;
}

#source:link {
  color: #dddddd;
  text-decoration: underline;
}

#source {
  color: #dddddd;
}

#source:link {
  color: #dddddd;
}

#source:hover {
  color: #dddddd;
  text-decoration: none;
}
